html{
  scroll-behavior: smooth;
}
body{
  line-height: 2rem;
}
h1{
  font-family: poppins;
}
p{
  font-family: roboto;
}

#logo{
  margin-bottom: 20px;
}
.navbar-brand{
  font-family: roboto;
  font-weight: bold;
  color: #000 !important;
  font-size: 20px;
}
.navbar-nav{
  font-family: poppins;
  font-size: 16px;
  margin-top: 10px;
}

#showcase{
  margin-top: 80px;
}
#showcase img{
  width: 100%;
}
#showcase .showcase-right{
  margin-top: 150px;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;

}
#testimonial p {
    font-size: 32px;
    font-family: 'Josefin Sans';
    color: #000;
    line-height: 3rem;
  }
 #testimonial p.customer,footer #me{
    font-size: 20px;
    color: #666;
  }
  #info1{
    margin-top: 40px;
  }
  .info-left img{
  width: 100%;
  }
   .info-right{
  margin-top: 20px;
}

#contact{
  background: url("img/image3.jpg");
  margin-top: 30px;
  padding: 40px;
}
footer{
  text-align: center;
  font-size: 20px;
}
#me img{
  width:100px;
}



#moreImage{
  margin-top: 40px;
}
.baku{
  margin-top: 150px;
}